[submodule "sonarqube"]
	path = sonarqube
	url = https://github.com/zebrunner/sonarqube.git
	branch = master
[submodule "reporting"]
	path = reporting
	url = https://github.com/zebrunner/reporting.git
	branch = develop
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/zebrunner/jenkins-master.git
	branch = master
[submodule "mcloud"]
	path = mcloud
	url = https://github.com/zebrunner/mcloud.git
	branch = master
