version: '3.7'
networks:
  default:
    external:
      name: infra
services:
  nginx:
    image: "nginx:${TAG_NGINX}"
    container_name: nginx
    volumes:
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
     - ./nginx/conf.d:/etc/nginx/conf.d:ro
     - ./nginx/html:/usr/share/nginx/html:ro
     - ./nginx/htpasswd:/usr/share/nginx/htpasswd:ro
#TODO: test what is the valid share path! maybe video!
     - "data-volume:/usr/share/ftp:rw"
     - ./hub/selenoid/video:/usr/share/nginx/video:ro
    ports:
     - "80:80"
    restart: always
volumes:
  data-volume:
    external:
      name: mcloud_data-volume
