version: '3.7'
networks:
  default:
    external:
      name: infra
services:
  nginx:
    image: "nginx:${TAG_NGINX}"
    container_name: nginx
    volumes:
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
     - ./nginx/conf.d:/etc/nginx/conf.d:ro
     - ./nginx/htpasswd:/usr/share/nginx/htpasswd:ro
     - ./nginx/grid:/usr/share/nginx/html/grid
     - ./selenoid/video:/usr/share/nginx/video:ro
    logging:
     options:
      max-size: "512m"
    ports:
     - "80:80"
    restart: always
